<div class="editor-container">
    <form [formGroup]="editorForm" (ngSubmit)="saveTask()">
        <div class="editor-layout">
            <!-- Левый столбец -->
            <div class="left-panel">
                <button class="back-button" type="button" (click)="goToJournal()">&#x2190; Вернуться к журналу</button>
  
                <!-- Панель с элементами -->
                <div class="elements-panel">
                    <div class="element" *ngFor="let element of gameElements"
                        [draggable]="element.count < element.max"
                        (dragstart)="onDragStart($event, element)">
                        <img class="panel-img" [src]="getElementImage(element.index)" />
                        <span>{{ element.count }}/{{ element.max }}</span>
                    </div>
                </div>
  
                <div class="energy-input">
                    <label>
                        <img src="assets/energy.png" alt="Молния" class="energy-icon">
                        Энергия:
                    </label>
                    <input type="number" formControlName="energy" />
                    <div *ngIf="editorForm.get('energy')?.invalid && editorForm.get('energy')?.touched" class="error">
                        Введите число от 1 до 100.
                    </div>
                </div>
                <!-- Кнопка "Удалить задание" -->
                <button *ngIf="!fieldID" type="button" class="delete-button" (click)="deleteTask(fieldID!)">
                    Удалить задание
                </button>
            </div>
  
            <!-- Правый столбец -->
            <div class="right-panel">
                <div class="task-text">
                    <label>Текст задания:</label>
                    <textarea formControlName="taskText" placeholder="Здесь будет генерироваться текст задания"></textarea>
                    <div *ngIf="editorForm.get('taskText')?.invalid && editorForm.get('taskText')?.touched" class="error">
                    Текст задания должен содержать минимум 10 символов.
                    </div>
                </div>
  
                <!-- Игровое поле -->
                <div class="grid-container" [ngStyle]="gridStyle">
                    <div class="grid" *ngFor="let cell of gameField; let i = index"
                        (dragover)="allowDrop($event)"
                        (drop)="onDrop($event, i)">
                    <img *ngIf="cell !== -1" class="field-img" [src]="getElementImage(cell)" [ngStyle]="getElementStyle()" />
                    </div>
                </div>
  
                <div class="task-name">
                    <label>Название задания:</label>
                    <input type="text" formControlName="taskName" placeholder="Введите текст задания"/>
                    <div *ngIf="editorForm.get('taskName')?.invalid && editorForm.get('taskName')?.touched" class="error">
                        Название задания обязательно (максимум 50 символов).
                    </div>
                </div>
  
                <button type="submit" [disabled]="editorForm.invalid || !canSave" class="save-button">Сохранить задание</button>
            </div>
        </div>
    </form>
</div>