<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обучающая система по основам алгоритмизации и программирования</title>
</head>
<body>

  <header>
    <h1>Обучающая система по основам алгоритмизации и программирования</h1>
  </header>

  <nav class="contents">
    <a routerLink="/studentjournal"><button>Назад</button></a>
    <ul>
      <li><a (click)="scrollTo('introduction')">Введение</a></li>
      <li><a (click)="scrollTo('auth')">Авторизация</a></li>
      <li><a (click)="scrollTo('student-journal')">Журнал ученика</a></li>
      <li><a (click)="scrollTo('rating')">Рейтинг класса</a></li>
      <li><a (click)="scrollTo('task-solution')">Решение задания</a></li>
      <li><a (click)="scrollTo('developer-info')">Справка о разработчиках</a></li>
    </ul>
  </nav>

  <section id="introduction">
    <h2>Введение</h2>
    <p>Обучающая система по основам алгоритмизации и программирования будет использоваться для автоматизации процесса
      обучения школьников. Она позволяет учителю создавать и рассылать задания своим ученикам, выставлять оценки за
      задания и вести электронный журнал. Ученики смогут выполнять задания и отслеживать оценки.</p>
  </section>

  <section id="auth">
    <h2>Авторизация. Запуск веб-приложения</h2>
    <p>После перехода на сайт неавторизованный ученик увидит окно авторизации. Необходимо ввести логин и пароль,
      выданные ему учителем, и нажать кнопку “Войти”. Пользователь авторизуется в системе с ролью “Ученик”.</p>
  </section>

  <section id="student-journal">
    <h2>Журнал ученика</h2>
    <p>Ученик, успешно пройдя авторизацию, увидит главную страницу - журнала ученика. На этой странице ученик сможет
    отслеживать свои домашние задания, а также среднюю оценку и место в рейтинге класса. Для завершения работы
      с веб-приложением нужно нажать на кнопку “ВЫХОД”.</p>
    <div class="image-container">
      <img src="assets/student-journal.png" alt="Журнал ученика">
    </div>
  </section>

  <section id="rating">
    <h2>Рейтинг класса</h2>
    <p>Чтобы посмотреть рейтинг класса ученику необходимо нажать на кнопку “Посмотреть рейтинг класса”.
      Рейтинг класса мотивирует выполнять все задания качественно. Чем выше рейтинг ученика, тем выше он
      в рейтинге среди своих одноклассников. Значение рейтинга рассчитывается следующим образом: ЗДЕСЬНАПИСАНАФОРМУЛА.
      Для завершения работы со страницей рейтинга класса нужно нажать на кнопку “Вернуться к журналу”.</p>
    <div class="image-container">
      <img src="assets/class-rating.png" alt="Рейтинг класса">
    </div>
  </section>

  <section id="task-solution">
    <h2>Решение задания</h2>
    <p>Эта страница предназначена для выполнения задания. Ученик должен составить алгоритм, чтобы исполнитель (муравей)
      выполнил условие задачи. Необходимо перетаскивать командные блоки из поля “команды” в поле “алгоритм”.
      Система автоматически составит блок-схему, алгоритму которой будет следовать исполнитель. В поле “Справка”
      написана основная информация о циклах и об энергии. Ученик может запускать свой алгоритм нажатием на
      кнопку “Play” (треугольник под полем с исполнителем). Исполнитель может собирать монеты и двигать камни,
      в том числе заполнять ими лунки. Однако, исполнитель не может двигать сразу два камня, выходить за поле и
      ходить по лункам. Чтобы отправить свой алгоритм на проверку учителю, ученик должен нажать на кнопку “Отправить
      на проверку!”. Для завершения работы со страницей решения задания нужно отправить задание или нажать на
      кнопку “Вернуться к журналу”.</p>
    <div class="image-container">
      <img src="assets/solving-task.png" alt="Решение задания">
    </div>
  </section>

  <section id="developer-info">
    <h2>Справка о разработчиках</h2>
    <p>Эта страница содержит основную информацию о разработчиках веб-приложения.</p>
  </section>

  <!-- Кнопка вверх -->
  <button
    id="back-to-top"
    title="Наверх"
    (click)="backToTop()">
    &#8593;
  </button>

  <script src="script.js"></script>
</body>
</html>
