<div class="container">
  <!-- Левая колонка: меню классов -->
  <div class="left-panel">
    <div [formGroup]="classesForm" class="form-wrapper">
      <div formArrayName="classes" class="classes">
        <div *ngFor="let classGroup of classes.controls; let i = index" 
            [formGroupName]="i" 
            class="class-entry"
            [class.selected]="isClassSelected(i)"
            (click)="selectClass(classGroup.get('className')?.value, i)">
            <div class="class-name">
              {{ classGroup.get('className')?.value }}
            </div>
            <div class="student-count">
              учеников: {{ classGroup.get('studentCount')?.value }}
            </div>
        </div>
      </div>
      <div class="control-panel">
        <input 
          type="text" 
          placeholder="Введите имя класса" 
          class="class-input"
          [(ngModel)]="newClassName"
          [ngModelOptions]="{standalone: true}">

        <button class="add-button" (click)="addClass()" type="button">
          Добавить класс +
        </button>
        
        <button class="rating-button" routerLink="/rating">
          Посмотреть рейтинг
        </button>
      </div>
    </div>
  </div>
  <!-- Центральная часть страницы: ученики и их дз -->
  <div class="middle-panel">
    <div [formGroup]="studentsForm" class="form-wrapper">
      <div formArrayName="students" class="students">
        <div *ngFor="let student of students.controls; let i = index"
        [formGroupName]="i"
        class="student">
          <div class="student-name">
            {{student.get('studentName')?.value}}
          </div>
          <div formArrayName="studentTasks" class="tasks">
            <div *ngFor="let taskControl of getStudentTasks(student).controls; let j = index"
                 class="student-tasks">
              <div class="task">
                <button class="task-delete-button" (click)="deleteStudentTask(i, j, $event)">
                  ❌
                </button>
                <div class="task-name">{{ taskControl.value.taskName }}</div>
                <div class="task-grade" 
                  [class.unsolved]="taskControl.value.taskMark === -1"
                  [class.solved]="taskControl.value.taskMark === 0"
                  [class.grade-2]="taskControl.value.taskMark === 2"
                  [class.grade-3]="taskControl.value.taskMark === 3"
                  [class.grade-4]="taskControl.value.taskMark === 4"
                  [class.grade-5]="taskControl.value.taskMark === 5">
                  {{ taskControl.value.taskMark > 1 ? taskControl.value.taskMark : '' }}

                  <!-- КНОПКА ПРОВЕРКИ: Показывается только если оценка == 0 -->
                  <button 
                    *ngIf="taskControl.value.taskMark === 0" 
                    class="check-button" 
                    (click)="checkTask(studentsData[i][0], taskControl.value.idTask)">
                    ▶
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Боковая правая панель: добавление заданий и справки -->
  <div class="right-panel">
    <button (click)="openAddStudent()" class="add-student-button">
      Добавить ученика +
    </button>
    <div class="burger-container">
      <button class="burger-button">
        Задание
        <div class="burger-icon">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </div>
      </button>
      <div class="burger-menu">
        <button (click)="openGiveTask()" class="give-task-button">Выдать задание</button>
        <button (click)="openAddTask()" class="add-task-button">Создать новое задание +</button>
        <button (click)="openViewTasks()" class="view-tasks-button">Посмотреть существующие задания</button>
      </div>
    </div>
    <button class="system-info-button" (click)="goToSystemInfo()">Посмотреть справку о системе</button>
    <button class="developer-info-button" (click)="goToDeveloperInfo()">Посмотреть справку о разработчиках</button>
    <button class="quit-button" (click)="Exit()">Выход</button>
  </div>
</div>