<div class="container">
    <!-- Левая колонка -->
    <div class="left-column">
      <button class="back-button" (click)="goToJournal()">
        &#x2190;Вернуться к журналу
      </button>
  
      <h3>Алгоритм ⚡ ({{ getTotalCommandCount() }}/{{ commandLimit }})</h3>
    
      <div class="algorithm-field">
        <form [formGroup]="algorithmForm">
          <div formArrayName="commands" class="algorithm">
      
            <div *ngFor="let command of commands.controls; let i = index" [formGroupName]="i" class="command-container">
              <app-command-block
                [control]="asFormGroup(command)"
                [parentArray]="commands"
                [index]="i"
                [getTotalCommandCount]="getTotalCommandCount"
                [maxCommands]="commandLimit">
              </app-command-block>
            
              <div *ngIf="!isLastCommand(i, commands)" class="arrow-down"></div>
            </div>
          </div>
        </form>
      </div>
  
      <div class="rating-section">
        <form [formGroup]="ratingForm" class="rating-form">
          <label for="rating">Оценка:</label>
          <select id="rating" formControlName="selectedRating">
            <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
          </select>
          <button type="button" (click)="submitRating()">Выставить оценку</button>
        </form>
      </div>
    </div>
  
  <!-- Правая колонка -->
  <div class="right-panel">
    <h3>Задание</h3>
    <p>{{ taskText }}</p>

    <h3>Игровое поле</h3>
    <!-- Игровое поле -->
    <div class="grid-container" [ngStyle]="gridStyle">
      <div class="grid" *ngFor="let cell of gameGrid; let i = index">
        <img *ngIf="cell !== -1" class="field-img" [src]="getElementImage(cell)" [ngStyle]="getElementStyle()" />
      </div>
    </div>

    <h3>Консоль</h3>
    <!-- Кнопка управления симуляцией -->
    <button *ngIf="!isRunning" (click)="runSolution()">▶ Play</button>
    <button *ngIf="isRunning" (click)="stopSolution()">⏹ Stop</button>
    <div class="console">
      <p *ngFor="let message of executionLogs">{{ message }}</p>
    </div>
  </div>
</div>