<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список созданных заданий</title>
</head>
<body>

    <div id="list-task-modal" class="modal">
        <div class="modal-content">
            <h2>Список созданных заданий</h2>
            <div class="d-flex flex-wrap-wrap">
                <button *ngFor="let task of data.tasksData" class="button-task">{{ task.task_name || task.name }}</button>
            </div>
            <button class="close-btn" (click)="onCancel()">Закрыть</button>
        </div>
    </div>

<script>
    document.getElementById('list-task-btn').addEventListener('click', function() {
        document.getElementById('list-task-modal').style.display = 'flex';
    });
    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }
    document.getElementById('task-choice').addEventListener('change', function() {
        if (this.value === 'automatic') {
        document.getElementById('automatic-fields').style.display = 'block';
        } else {
        document.getElementById('automatic-fields').style.display = 'none';
        }
    });
</script>
