<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сведения о разработчиках</title>
</head>
<body>

  <div class="content">
    <h2>Сведения о разработчиках</h2>
    <p><b>Самарский университет <br> Кафедра программных систем</b></p>
    <p>Курсовой проект по дисциплине "Программная Инженерия" <br> по теме "Обучающая система по основам алгоритмизации и программирования"</p>
    <p>Разработчики - обучающиеся группы 6302-020302D:</p>
    <p>Самохвалов Н.В. <br> Голубцов К.С. <br> Офицеров Д.А. <br> Неверов М.Л.</p>

    <!-- Замена текста на изображение -->
    <div class="logo">
      <img src="assets/logo.png" alt="Логотип" style="max-width: 100%; height: auto;">
    </div>

    <p><b>Самара 2025</b></p>

    <a routerLink="/teacherjournal"><button>Назад</button></a>
  </div>

</body>
</html>
